@use '../../../../styles.scss';
@use '../../../../variables' as *;
@use "sass:color";
.sprint-calculator {
  padding: 15px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-primary {
  @include button-base;
  background: $primary-color;

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background: color.adjust($primary-color, $lightness: -10%);
  }
}

.btn-secondary {
  @include button-base;
  background: $secondary-color;

  &:hover {
    background: color.adjust($secondary-color, $lightness: -10%);
  }
}

.btn-danger {
  @include button-base;
  background: $danger-color;

  &:hover {
    background: color.adjust($danger-color, $lightness: -10%);
  }
}
